@import "tailwindcss";
@import "react-calendar/dist/Calendar.css";

/* Dark mode override */
.react-calendar {
  background-color: #111827;
  border: none;
  color: white;
  border-radius: 16px;
  padding: 10px;
}

.react-calendar__tile {
  background: transparent;
  color: white;
}

.react-calendar__tile--active {
  background: #3b82f6 !important;
}

.react-calendar__tile--now {
  background: #1f2937 !important;
}

.logged-day {
  background: #3b82f6 !important;
  color: white !important;
  border-radius: 20% !important;
}

@keyframes toastIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes toastOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.animate-toastIn {
  animation: toastIn 0.25s ease-out;
}

.animate-toastOut {
  animation: toastOut 3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease forwards;
}

.animate-slideUp {
  animation: slideUp 0.4s ease forwards;
}

.animate-pop {
  animation: pop 0.2s ease;
}
